/sprites/
/audio/
/config/
/index.php
/index.html
/crossprotocol.html
node_modules/
eslint-cache/
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
/vendor/

/js/server/
/js/*.js.map
/js/battle*.js
/js/panel*.js
/js/replay-embed.js
/js/client-main.js
/js/client-core.js
/js/client-connection.js

/replays/caches/
/replays/replay-config.inc.php
/replays/theme/wrapper.inc.php

/website/.well-known/
/website/.pages-cached/
/website/files/
/website/images/
.vs/pokemon-showdown-client/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
data/pokemon-showdown
data/search-index.js
data/teambuilder-tables.js
js/battle-dex.js
js/battledata.js
preactalpha.html
replays/theme/wrapper.inc.php
config/config.js
